<!DOCTYPE html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script>
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;
        window.meta_data = null;
        var stateCode = "<%= stateCode %>";
        var candidateId = "<%= candidateId %>";
        var map_type = "<%= map_type %>";
        var pusher = new Pusher('24e9d0687e80f1b51c74', {
            cluster: 'ap2',
            forceTLS: true
        });
        var channelName = map_type + "-" + (stateCode ? stateCode + "-" : "") + candidateId
        var channel = pusher.subscribe(channelName);
        channel.bind('my-event',
            function (data) {
                parsetoRenderer(JSON.stringify(data));
            }
        );
    </script>
    <script>
        // console.log("Try it out"); //{"area":"[object Object]"}
        // console.log(JSON.stringify(tempGetData));
        //console.log(tempGetData);
        // setTimeout(() => {

        //     parsetoRenderer(tempGetData, assemblyId);
        // }, 6000);


        function parsetoRenderer(getData) {
            console.log("Data Received ");
            console.log(getData);
            $.ajax({
                method: "post",
                url: "<%= map_type %>",
                data: {
                    dataReq: getData
                },
                success: function (data) {
                    $("#mapRender").html(data);
                }
            })
        }
    </script>
</head>

<body>

    <div id="mapRender">Loading</div>
</body>

</html>